<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sollividu</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UIAppFonts</key>
	<array>
		<string>Arima-VariableFont_wght.ttf</string>
		<string>Arima-Bold.ttf</string>
		<string>Arima-ExtraLight.ttf</string>
		<string>Arima-Light.ttf</string>
		<string>Arima-Medium.ttf</string>
		<string>Arima-Regular.ttf</string>
		<string>Arima-SemiBold.ttf</string>
		<string>Arima-Thin.ttf</string>
		<string>BalooThambi2-VariableFont_wght.ttf</string>
		<string>BalooThambi2-Bold.ttf</string>
		<string>BalooThambi2-ExtraBold.ttf</string>
		<string>BalooThambi2-Medium.ttf</string>
		<string>BalooThambi2-Regular.ttf</string>
		<string>BalooThambi2-SemiBold.ttf</string>
		<string>Catamaran-VariableFont_wght.ttf</string>
		<string>Catamaran-Black.ttf</string>
		<string>Catamaran-Bold.ttf</string>
		<string>Catamaran-ExtraBold.ttf</string>
		<string>Catamaran-ExtraLight.ttf</string>
		<string>Catamaran-Light.ttf</string>
		<string>Catamaran-Medium.ttf</string>
		<string>Catamaran-Regular.ttf</string>
		<string>Catamaran-SemiBold.ttf</string>
		<string>Catamaran-Thin.ttf</string>
		<string>Kavivanar-Regular.ttf</string>
		<string>MeeraInimai-Regular.ttf</string>
		<string>MuktaMalar-Bold.ttf</string>
		<string>MuktaMalar-ExtraBold.ttf</string>
		<string>MuktaMalar-ExtraLight.ttf</string>
		<string>MuktaMalar-Light.ttf</string>
		<string>MuktaMalar-Medium.ttf</string>
		<string>MuktaMalar-Regular.ttf</string>
		<string>MuktaMalar-SemiBold.ttf</string>
		<string>NotoSansTamil-VariableFont_wdth,wght.ttf</string>
		<string>NotoSansTamil-Black.ttf</string>
		<string>NotoSansTamil-Bold.ttf</string>
		<string>NotoSansTamil-ExtraBold.ttf</string>
		<string>NotoSansTamil-ExtraLight.ttf</string>
		<string>NotoSansTamil-Light.ttf</string>
		<string>NotoSansTamil-Medium.ttf</string>
		<string>NotoSansTamil-Regular.ttf</string>
		<string>NotoSansTamil-SemiBold.ttf</string>
		<string>NotoSansTamil-Thin.ttf</string>
		<string>NotoSansTamil_Condensed-Black.ttf</string>
		<string>NotoSansTamil_Condensed-Bold.ttf</string>
		<string>NotoSansTamil_Condensed-ExtraBold.ttf</string>
		<string>NotoSansTamil_Condensed-ExtraLight.ttf</string>
		<string>NotoSansTamil_Condensed-Light.ttf</string>
		<string>NotoSansTamil_Condensed-Medium.ttf</string>
		<string>NotoSansTamil_Condensed-Regular.ttf</string>
		<string>NotoSansTamil_Condensed-SemiBold.ttf</string>
		<string>NotoSansTamil_Condensed-Thin.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-Black.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-Bold.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-Light.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-Medium.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-Regular.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSansTamil_ExtraCondensed-Thin.ttf</string>
		<string>NotoSansTamil_SemiCondensed-Black.ttf</string>
		<string>NotoSansTamil_SemiCondensed-Bold.ttf</string>
		<string>NotoSansTamil_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSansTamil_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSansTamil_SemiCondensed-Light.ttf</string>
		<string>NotoSansTamil_SemiCondensed-Medium.ttf</string>
		<string>NotoSansTamil_SemiCondensed-Regular.ttf</string>
		<string>NotoSansTamil_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSansTamil_SemiCondensed-Thin.ttf</string>
		<string>NotoSerifTamil-Italic-VariableFont_wdth,wght.ttf</string>
		<string>NotoSerifTamil-VariableFont_wdth,wght.ttf</string>
		<string>NotoSerifTamil-Black.ttf</string>
		<string>NotoSerifTamil-BlackItalic.ttf</string>
		<string>NotoSerifTamil-Bold.ttf</string>
		<string>NotoSerifTamil-BoldItalic.ttf</string>
		<string>NotoSerifTamil-ExtraBold.ttf</string>
		<string>NotoSerifTamil-ExtraBoldItalic.ttf</string>
		<string>NotoSerifTamil-ExtraLight.ttf</string>
		<string>NotoSerifTamil-ExtraLightItalic.ttf</string>
		<string>NotoSerifTamil-Italic.ttf</string>
		<string>NotoSerifTamil-Light.ttf</string>
		<string>NotoSerifTamil-LightItalic.ttf</string>
		<string>NotoSerifTamil-Medium.ttf</string>
		<string>NotoSerifTamil-MediumItalic.ttf</string>
		<string>NotoSerifTamil-Regular.ttf</string>
		<string>NotoSerifTamil-SemiBold.ttf</string>
		<string>NotoSerifTamil-SemiBoldItalic.ttf</string>
		<string>NotoSerifTamil-Thin.ttf</string>
		<string>NotoSerifTamil-ThinItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-Black.ttf</string>
		<string>NotoSerifTamil_Condensed-BlackItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-Bold.ttf</string>
		<string>NotoSerifTamil_Condensed-BoldItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-ExtraBold.ttf</string>
		<string>NotoSerifTamil_Condensed-ExtraBoldItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-ExtraLight.ttf</string>
		<string>NotoSerifTamil_Condensed-ExtraLightItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-Italic.ttf</string>
		<string>NotoSerifTamil_Condensed-Light.ttf</string>
		<string>NotoSerifTamil_Condensed-LightItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-Medium.ttf</string>
		<string>NotoSerifTamil_Condensed-MediumItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-Regular.ttf</string>
		<string>NotoSerifTamil_Condensed-SemiBold.ttf</string>
		<string>NotoSerifTamil_Condensed-SemiBoldItalic.ttf</string>
		<string>NotoSerifTamil_Condensed-Thin.ttf</string>
		<string>NotoSerifTamil_Condensed-ThinItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-Black.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-BlackItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-Bold.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-BoldItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-Italic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-Light.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-LightItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-Medium.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-MediumItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-Regular.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-Thin.ttf</string>
		<string>NotoSerifTamil_ExtraCondensed-ThinItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-Black.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-BlackItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-Bold.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-BoldItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-Italic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-Light.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-LightItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-Medium.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-MediumItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-Regular.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-Thin.ttf</string>
		<string>NotoSerifTamil_SemiCondensed-ThinItalic.ttf</string>
		<string>Pavanam-Regular.ttf</string>
		<string>TiroTamil-Italic.ttf</string>
		<string>TiroTamil-Regular.ttf</string>
		<string>Feather.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
